.show-just-active-button {
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.refresh-button {
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

/* the -c is for color */
.proj-active-c {
	color: green;
	font-weight: bold;
}

.proj-inactive-c {
	color: red;
	font-weight: bold;
}

.proj-complete-c {
	color: green;
}

.proj-discontinued-c {
	color: yellow;
}

.proj-abandoned-c {
	color: red;
}
